// Main var for Include Media Library
$breakpoints: (phone: 780px, tablet: 1024px, desktop: 1025px);

// Colors
$backgroundGreen: #00491e;
$darkGreen: #1c3315;
$lightGreen: #85c582;

// Font Sizes
$font-dt: 26px;
$font-tab: 28px;
$font-mo: 32px;
$font-small: 20px;
